{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    {% block javascripts %}
        {{ encore_entry_script_tags('like') }}
    {% endblock %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <a class="btn btn-primary" href="register">Register</a>
    <a class="btn btn-primary" href="login">Login</a>
    <a class="btn btn-primary" href="product/create">Créer un article</a>
    {% if app.user %}
    <a class="btn btn-primary" href="{{ path('update_profile', {id:app.user.profile.id}) }}">Update Profile</a>
        <a class="btn btn-primary" href="{{ path('app_profile') }}">Infos Profile</a>

    {% endif %}



    {% for product in products %}
<div class="row border border-dark m-3">

    <h1> Fait par {{ product.author.username }}</h1>
    <h2>{{ product.name }}</h2>
    <h3>{{ product.description }}</h3>
    <p>{{ product.prix }}</p>
    <a class="btn btn-primary" href="/product/show/{{ product.id }}">VOir le produit</a>
    <a class="btn btn-primary" href="/product/update/{{ product.id }}">Modifier le produit</a>
    <a class="btn btn-danger" href="/product/delete/{{ product.id }}">Supprimer le produit</a>
    <a href="{{ path('add_cart', {id:product.id, quantity:1}) }}" class="btn btn-primary">Add to cart</a>

    <a href="{{ path('like_product', {id:product.id}) }}" class="class btn like">
        <i class="bi thumb bi-hand-thumbs-up{% if app.user and product.isLikedBy(app.user.profile) %}-fill{% endif %}"></i>
        <span class="nbrLikes">{{ product.likes|length }}</span>
    </a>


</div>
    {% endfor %}

{% endblock %}
